#main-canvas {
  background:darkslategray;
  max-height: 100vh;
  height: 100%;
}

.react-transform-component {
  height: 100%;
  width: 100%;
}

.react-transform-element {
  display: table;
  min-width: 0;
  min-height: 0;
} 

.ghost {
  position: fixed;
  left: -9999px;
  top: -9999px;
}